<h4 class="mb20">Simple Inner</h4>

<div class="scrollbar-inner demo-block" style="max-height: 300px;overflow: auto;">
    <p class="permanent">
        Simple inner scrollbar over content
    </p>
    <p class="permanent">
        <a href="#anchor">Click to test #anchors</a><br><br>
        <input type="text" value="Use TAB to focus next input" style="max-width:220px; width: 100%;" class="form-control xs">
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
        Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
        hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
        sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
        ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
        viverra nisi, in interdum massa nibh nec erat.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
        Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
        hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
        sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
        ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
        viverra nisi, in interdum massa nibh nec erat.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
        Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
        hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
        sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
        ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
        viverra nisi, in interdum massa nibh nec erat.
    </p>
</div>

<h4 class="mt50 mb20">Simple Outer</h4>

<div class="scrollbar-outer demo-block" style="max-height: 300px;overflow: auto;">
    <p class="permanent">
        Simple outer scrollbar can be used as CSS base for custom outer scrollbars.
        This example shows nested scrollbars functionality: nested scrollbar styles do not
        interfere with parent scrollbar styles, i.e. different scrollbars can be safely used
        inside each other.
    </p>
    <div style="padding: 10px;">
        <div class="inner-content scrollbar-dynamic" style="max-height: 170px;border: 1px solid #CCC;width: 600px;position: relative;">
            <h4>
                This container is an example of nested Dynamic scrollbar with padding.
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
                scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
                hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
                pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
                sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
                ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
                nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
                viverra nisi, in interdum massa nibh nec erat.
            </p>
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
        Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
        hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
        sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
        ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
        viverra nisi, in interdum massa nibh nec erat.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
        Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
        hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
        sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
        ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
        viverra nisi, in interdum massa nibh nec erat.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
        Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
        hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
        sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
        ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
        viverra nisi, in interdum massa nibh nec erat.
    </p>
</div>

<script>
    $('.scrollbar-inner').NUI('scrollbar');

    $('.scrollbar-outer').NUI('scrollbar');

    $('.scrollbar-dynamic').NUI('scrollbar');
</script>