.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 230px;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    bottom: 0;
    overflow: auto;
}

.sidebar-collapse .sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 80px;
    z-index: 1132;
}

.sidebar-collapse .content {
    margin-left: 80px;
}