<h3 class="mb15">Alert</h3>

<h4 class="mt50 mb20">基础用法</h4>
<div class="demo-block">
    <a href="javascript:;" class="btn btn-md btn-info">普通提示</a>
    <a href="javascript:;" class="btn btn-md btn-success">成功提示</a>
    <a href="javascript:;" class="btn btn-md btn-warning">警告提示</a>
    <a href="javascript:;" class="btn btn-md btn-danger">错误提示</a>
</div>

<h4 class="mt50 mb20">Attributes</h4>
<table class="table">
    <tr>
        <th>属性</th>
        <th>说明</th>
        <th>类型</th>
        <th>默认值</th>
    </tr>
    <tr>
        <td>obj</td>
        <td>alert容器</td>
        <td>String</td>
        <td>.alert</td>
    </tr>
    <tr>
        <td>content</td>
        <td>文本,支持html标签</td>
        <td>String</td>
        <td>-</td>
    </tr>
    <tr>
        <td>duration</td>
        <td>持续时间,单位毫秒</td>
        <td>Number</td>
        <td>3000</td>
    </tr>
    <tr>
        <td>status</td>
        <td>状态:error,success,info,warning</td>
        <td>String</td>
        <td>info</td>
    </tr>
    <tr>
        <td>callback</td>
        <td>回调函数</td>
        <td>Function</td>
        <td>-</td>
    </tr>
    <tr>
        <td>icon</td>
        <td>是否开启阴影icon</td>
        <td>boolean</td>
        <td>true</td>
    </tr>
</table>

<script>
    $('.btn-info').on('click', function () {
        $.alert({
            content: 'This is a info message',
            status: 'info',
            timeout: 1500,
            callback: function () {
                // callback ...
                console.log(this)
            }
        });
    });

    $('.btn-success').on('click', function () {
        $.alert({
            content: 'This is a success message',
            status: 'success',
            timeout: 1500,
            callback: function () {
                // callback ...
            }
        });
    });

    $('.btn-warning').on('click', function () {
        $.alert({
            content: 'This is a warning message',
            status: 'warning',
            timeout: 1500,
            callback: function () {
                // callback ...
            }
        });
    });

    $('.btn-danger').on('click', function () {
        $.alert({
            content: 'This is a error message',
            status: 'error',
            timeout: 1500,
            callback: function () {
                // callback ...
            }
        });
    });
</script>