<h3 class="mb15">Dialog</h3>
<h4 class="mt50 mb20">基础用法</h4>
<div class="demo-block">
    <a href="javascript:;" class="btn btn-default btn-md J-dialog-0">call dialog-alert</a>
    <a href="javascript:;" class="btn btn-default btn-md J-dialog-1">call dialog-confirm</a>
    <a href="javascript:;" class="btn btn-default btn-md J-dialog-2">call dialog-prompt</a>
</div>

<h4 class="mt50 mb20">Attributes</h4>

<table class="table">
    <thead>
    <tr>
        <th>属性</th>
        <th>说明</th>
        <th>类型</th>
        <th>默认值</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>title</td>
        <td>设置标题</td>
        <td>string</td>
        <td>-</td>
    </tr>
    <tr>
        <td>content</td>
        <td>设置内容</td>
        <td>string</td>
        <td>-</td>
    </tr>
    <tr>
        <td>confirmText</td>
        <td>设置确定按钮文本</td>
        <td>string</td>
        <td>‘确定’</td>
    </tr>
    <tr>
        <td>cancelText</td>
        <td>设置取消按钮文本</td>
        <td>string</td>
        <td>‘取消’</td>
    </tr>
    <tr>
        <td>closeBtn</td>
        <td>是否开启关闭按钮</td>
        <td>boolean</td>
        <td>true</td>
    </tr>
    <tr>
        <td>shadow</td>
        <td>是否开启阴影</td>
        <td>boolean</td>
        <td>true</td>
    </tr>
    <tr>
        <td>type</td>
        <td>设置类型，可选设置为alert/confirm</code>区别在于有无’取消按钮’</td>
        <td>string</td>
        <td>alert</code></td>
    </tr>
    <tr>
        <td>status</td>
        <td>设置类型，可选设置为success/error/warning/info</code>或者不设</td>
        <td>string</td>
        <td>-</td>
    </tr>
    <tr>
        <td>before</td>
        <td>弹出前触发</td>
        <td>function</td>
        <td>-</td>
    </tr>
    <tr>
        <td>confirm</td>
        <td>点击确认按钮后触发</td>
        <td>function</td>
        <td>-</td>
    </tr>
    <tr>
        <td>cancel</td>
        <td>点击取消按钮后触发</td>
        <td>function</td>
        <td>-</td>
    </tr>
    </tbody>
</table>

<script>
    let dialogAlert = $.dialog({
        container: '.content-wrapper',
        title: '提示：',
        content: '<div style="padding:10px 0 20px;">内容区域支持HTML，方便调整你需要的样式</div>',
        type: 'alert',
        status: 'error',
        closeBtn: true,
        before: function () {
            console.log('[before]函数触发');
        },
        confirm: function () {
            console.log('[confirm]函数触发');
        },
        cancel: function () {
            console.log('[cancel]函数触发');
        }
    });
    $('.J-dialog-0').click(function () {
        dialogAlert.show();
    });
</script>
<script>
    let dialogClose = $.dialog({
        container: '.content-wrapper',
        title: '',
        content: '确认关闭？',
        type: 'confirm',
        confirm: function () {
            console.log('[confirm]函数触发');
        },
        cancel: function () {
            console.log('[cancel]函数触发');
            dialogConfirm.show();
        }
    });
    let dialogConfirm = $.dialog({
        container: '.content-wrapper',
        title: '提示：',
        content: '<div style="padding:10px 0 20px;">内容区域支持HTML，方便调整你需要的样式</div>',
        type: 'confirm',
        closeBtn: true,
        before: function () {
            console.log('[before]函数触发');
        },
        confirm: function () {
            console.log('[confirm]函数触发');
        },
        cancel: function () {
            console.log('[cancel]函数触发');
            dialogClose.show();
        }
    });
    $('.J-dialog-1').click(function () {
        dialogConfirm.show();
    });
</script>
<script>
    let dialogForm = $.dialog({
        container: '.content-wrapper',
        title: '提示：',
        content: '<div class="form-group">' +
        '<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">' +
        '</div>',
        type: 'alert',
        closeBtn: true,
        before: function () {
            console.log('[before]函数触发');
        },
        confirm: function () {
            console.log('[confirm]函数触发');
        },
        cancel: function () {
            console.log('[cancel]函数触发');
        }
    });
    $('.J-dialog-2').click(function () {
        dialogForm.show();
    });
</script>