<h3 class="mb15">Tooltip</h3>

<h4 class="mt50 mb20">文字用法</h4>
<div class="demo-block">
    <span content="prompt text" placement="top">Tooltip will show when mouse enter.</span>
</div>
<h4 class="mt50 mb20">按钮用法</h4>
<div class="demo-block">
    <a href="javascript:;" content="hello world!" placement="left" class="btn btn-default btn-md">left - small</a>
    <a href="javascript:;" content="文字内容比较多，需要换行这些情况演示！" placement="right" class="btn btn-default btn-md">right - small</a>
    <a href="javascript:;" content="您网站的独立访客数(以Cookie为依据)，一小时内同一访客多次访问网站只被计算1次，即累加每小时的网站独立访客数。" placement="top" class="btn btn-default btn-md">up - large</a>
    <a href="javascript:;" content="历史上首次访问网站的访客为新访客。&#10;以下三种情况会记为新的访问：&#10;1. 访客关闭浏览器后重新进入您的网站；&#10;2. 访客不关闭浏览器，但是在您网站上不活动超过30分钟，&#10;30分钟后访客再次点击您网站上的链接；&#10;3. 访客任何时候从其他网站到达您的网站。数。" placement="bottom" class="btn btn-default btn-md">down - large</a>
</div>
<h4 class="mt50 mb20">表单用法</h4>
<div class="demo-block">
    <label for="age" class="mr10">Your age:</label>
    <input id="age" class="form-control sm" content="We ask for your age only for statistical purposes." placement="right" style="width: 200px;">
</div>
<h4 class="mt50 mb20">关闭用法</h4>
<div class="demo-block">
    <button class="btn btn-close" content="点击关闭 tooltip 功能" placement="right">点击关闭 tooltip 功能</button>
</div>

<h4 class="mt50 mb20">Element Attributes</h4>
<table class="table">
    <tr>
        <th>参数</th>
        <th>说明</th>
        <th>类型</th>
        <th>可选值</th>
        <th>默认值</th>
    </tr>
    <tr>
        <td>content</td>
        <td>显示的内容</td>
        <td>String</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>placement</td>
        <td>Tooltip 的出现位置</td>
        <td>string</td>
        <td>top/bottom/left/right</td>
        <td>left</td>
    </tr>
    <tr>
        <td>data-disabled</td>
        <td>Tooltip 是否可用</td>
        <td>Boolean</td>
        <td>-</td>
        <td>false</td>
    </tr>
</table>
<h4 class="mt50 mb20">Attributes</h4>
<table class="table">
    <tr>
        <td>duration</td>
        <td>延迟消失，单位毫秒</td>
        <td>number</td>
        <td>-</td>
        <td>300</td>
    </tr>
    <tr>
        <td>offsetX</td>
        <td>出现位置X的偏移量</td>
        <td>Number</td>
        <td>-</td>
        <td>10</td>
    </tr>
    <tr>
        <td>offsetY</td>
        <td>出现位置Y的偏移量</td>
        <td>Number</td>
        <td>-</td>
        <td>10</td>
    </tr>
</table>

<script type="text/javascript">
    $(function () {
        $.tooltip({
            container: '.content-wrapper',
            // offsetX: 100,
            // offsetY: 100,
            // handler: 'title',
            // duration: 3000,
        });
        $('.btn-close').on('click', function () {
            let $target = $(this);
            let id = $target.attr('aria-describedby');
            let $template = $('#'+id);
            if ($(this).data('disabled')) {
                $(this).text('点击关闭 tooltip 功能');
                $(this).data('disabled', false);
                $template.addClass('tooltip-show');
            } else {
                $(this).text('点击开启 tooltip 功能');
                $(this).data('disabled', true);
                $template.removeClass('tooltip-show');
            }

        })
    });
</script>