.hide {
  display: none;
}

.clearfix {
  @extend %clearfix;
}

//左浮动
@mixin pull-left {
  @include float(left);
}

%pull-left {
  @include float(left);
}

.pull-left {
  @include pull-left;
}

//右浮动
@mixin pull-right {
  @include float(right);
}

%pull-right {
  @include float(right);
}

.pull-right {
  @include pull-right;
}

.di {
  display: inline-block;
}

.vm {
  vertical-align: middle;
}

.pr {
  position: relative;
}

@include margin-init(60, 5, true true true true true);
@include padding-init(60, 5, true true true true true);