$dialog-color: #303133 #606266;
$dialog-width: 420px;

.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  z-index: 1;
  &:after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: "";
    vertical-align: middle;
  }
}

.dialog-main {
  width: $dialog-width;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  text-align: left;
  @include inline-block();
  @include box-sizing();
}

.dialog-header {
  padding: 20px;
  padding-bottom: 10px;
}

.dialog-title {
  line-height: 24px;
  font-size: 18px;
  color: nth($dialog-color, 1);
}

.dialog-content {
  padding: 10px 20px;
  color: nth($dialog-color, 2);
  font-size: 14px;
}

.dialog-footer {
  padding: 20px;
  padding-top: 10px;
  text-align: right;
  @include box-sizing();
}