.layer-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    @include bgc-opacity(#000, .5);
    @include transition(all 0.3s);
}

.layer-box {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    /*padding: 10px 10px 0;*/
}

.layer-box:after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: "";
    vertical-align: middle;
}

.layer-content {
    position: relative;
    outline: 0;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #2b2e38;
    background: #fff;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    font-size: 18px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    vertical-align: middle;
    text-align: left;
    @include box-sizing();
    @include prefixer(text-size-adjust, 100%);
    @include transform(translate3d(0, 0, 0));
}

.layer-title{
    font-size: 18px;
    line-height: 1;
    color: #303133;
}

.layer-header {
    position: relative;
    padding: 15px;
    padding-bottom: 10px;
}

.layer-body {
    position: relative;
    padding: 10px 15px;
    color: #606266;
    font-size: 14px;
}

.layer-footer {
  padding: 5px 15px 0;
  text-align: right;
}

.layer-opening {
    //-webkit-animation: layerIn 0.3s ease-out forwards;
    //-moz-animation: layerIn 0.3s ease-out forwards;
    //-o-animation: layerIn 0.3s ease-out forwards;
    //animation: layerIn 0.3s ease-out forwards;

  @include animation(msgbox-fade-in .3s);
}
@-webkit-keyframes layerIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-moz-keyframes layerIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-o-keyframes layerIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes layerIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.layer-closing {
    //-webkit-animation: layerOut 0.2s ease-out forwards;
    //-moz-animation: layerOut 0.2s ease-out forwards;
    //-o-animation: layerOut 0.2s ease-out forwards;
    //animation: layerOut 0.2s ease-out forwards;

    @include animation(msgbox-fade-out .3s);
}
@-webkit-keyframes layerOut {
    0% {
        opacity: 1;
        // -webkit-transform: scale3d(1, 1, 1);
        // -moz-transform: scale3d(1, 1, 1);
        // -ms-transform: scale3d(1, 1, 1);
        // transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
        // -webkit-transform: scale3d(1.2, 1.2, 1.2);
        // -moz-transform: scale3d(1.2, 1.2, 1.2);
        // -ms-transform: scale3d(1.2, 1.2, 1.2);
        // transform: scale3d(1.2, 1.2, 1.2);
    }
}
@-moz-keyframes layerOut {
    0% {
        opacity: 1;
        // -webkit-transform: scale3d(1, 1, 1);
        // -moz-transform: scale3d(1, 1, 1);
        // -ms-transform: scale3d(1, 1, 1);
        // transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
        // -webkit-transform: scale3d(1.2, 1.2, 1.2);
        // -moz-transform: scale3d(1.2, 1.2, 1.2);
        // -ms-transform: scale3d(1.2, 1.2, 1.2);
        // transform: scale3d(1.2, 1.2, 1.2);
    }
}
@-o-keyframes layerOut {
    0% {
        opacity: 1;
        // -webkit-transform: scale3d(1, 1, 1);
        // -moz-transform: scale3d(1, 1, 1);
        // -ms-transform: scale3d(1, 1, 1);
        // transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
        // -webkit-transform: scale3d(1.2, 1.2, 1.2);
        // -moz-transform: scale3d(1.2, 1.2, 1.2);
        // -ms-transform: scale3d(1.2, 1.2, 1.2);
        // transform: scale3d(1.2, 1.2, 1.2);
    }
}
@keyframes layerOut {
    0% {
        opacity: 1;
        // -webkit-transform: scale3d(1, 1, 1);
        // -moz-transform: scale3d(1, 1, 1);
        // -ms-transform: scale3d(1, 1, 1);
        // transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
        // -webkit-transform: scale3d(1.2, 1.2, 1.2);
        // -moz-transform: scale3d(1.2, 1.2, 1.2);
        // -ms-transform: scale3d(1.2, 1.2, 1.2);
        // transform: scale3d(1.2, 1.2, 1.2);
    }
}

.fadeInDown {
    -moz-animation: fadeInDown 0.25s ease-out forwards;
    -webkit-animation: fadeInDown 0.25s ease-out forwards;
    animation: fadeInDown 0.25s ease-out forwards;
}
@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20%);
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20%);
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
        -webkit-transform: translateY(-20%);
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}