.exclamation {
    background: url(../images/index/exclamation.png) no-repeat center center;
}

.up {
    background: url(../images/index/up.png) no-repeat center center;
}

.question {
    background: url(../images/index/question.png) no-repeat center center;
}

.down {
    background: url(../images/index/down.png) no-repeat center center;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 21px;
    vertical-align: middle;
}