.tipsbox {
    position: relative;
}

.tipsbox-content {
    background: #3D4B4E;
    border-radius: 4px;
    position: absolute;
    padding: 4px 0;
    z-index: 3;
    white-space: nowrap;
    left: 26px;
    top: -10px;
    text-align: left;

    a {
    	display: block;
    	height: 30px;
    	line-height: 30px;
    	padding: 0 0.875rem;
    	color: #fff;

    	&:hover {
    		background: #221814;
    	}
    }
    .fa {
    	position: absolute;
	    left: -5px;
	    top: 13px;
	    color: #3D4B4E;
    }
    &.tipsbox-end {
        bottom: -6px;
        top: auto;
        .fa {
            top: 43px;
        }
    }
    label {
        color: #646464;
        display: block;
        padding: 4px 0;
    }
    td {
        white-space: nowrap;
        padding: 0 15px 10px;
        strong {
            display: block;
            color: #B7B7B7;
            font-weight: 400;
            margin-top: 10px;
            padding: 0 0 8px 0;
            font-size: 14px;
        }
    }
    .table-wrap {
        max-height: 500px;
    }
}

.tipsbox-hidden {
    display: none;
}

.fa.tipsbox-trigger {
    color: #108ee9;
    cursor: pointer;
}