// 菜单标题、子菜单样式
.menu-title,
.menu-item {
  height: 50px;
  line-height: 50px;
  border-left: 3px solid transparent;
  padding: 0 15px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  display: block;
  white-space: nowrap;

  .fa {
    margin-right: 5px;
  }
}

// 子菜单样式
.menu-sub {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  margin-bottom: 5px;
  .menu-item {
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
  }
}

// 三角标样式
.menu-title {
  font-family: FontAwesome;
  &:after {
    content: "\F106";
    position: absolute;
    right: 20px;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
  }
  &.menu-open {
    &:after {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }
}

// 水平菜单样式
.menu-horizontal {
  font-size: 0;
  li {
    display: inline-block;
    position: relative;
  }
  .menu-title {
    border-left: none;
  }
  .menu-sub {
    position: absolute;
    z-index: 1;
    width: 100%;
    li {
      width: 100%;
    }
  }
  .menu-open {
    border-bottom: 2px solid #409eff;
  }
  span {
    margin-right: 20px;
  }
}

// 垂直菜单样式
.menu-vertical {
  width: 100%;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  transition: width .2s;
  span {
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    //opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 75%;
    vertical-align: middle;
  }
}

// 菜单默认主题
.menu-default {
  color: #909399;
  a {
    color: #909399;
  }
  .menu-item {
    background-color: #fff;
  }
  .menu-item.active {
    color: #303133;
  }
  .menu-title.active {
    color: #303133;
  }
}

// 菜单黑暗主题
.menu-dark {
  background-color: #222d32;
  color: #b8c7ce;
  a {
    color: #b8c7ce;
  }
  .menu-sub {
    background-color: #2c3b41;
  }
  .menu-item.active,
  .menu-title.active {
    color: #fff;
  }
}

// 菜单蓝色主题
.menu-skyblue {
  background-color: #3c8dbc;
  color: #fff;
  a {
    color: #fff;
  }
  li {
    background-color: #3c8dbc;
  }
  .menu-item.active,
  .menu-title.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

// 菜单收起样式
.menu-collapse {
  width: 80px;
  span {
    width: 0;
  }
  .menu-title {
    &:after {
      content: '';
    }
  }
  li {
    position: relative;
  }
  .menu-title,
  .menu-item {
    padding: 0 30px;
  }
}

// 菜单收起鼠标放到菜单标题样式
.menu-mouseover {
  &+.menu-sub {
    display: block!important;
    position: absolute;
    left: 83px;
    top: 3px;
    z-index: 1;
    border-radius: 4px;
    span {
      width: 100%;
    }
    li {
      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
  &.menu-item {
    &>span {
      width: auto;
      line-height: 1.2;
      overflow: visible;
      top: 50%;
      margin-top: -13px;
      left: 85px;
      transition: opacity .2s linear;
    }
  }
}

.zoom-in-left-enter-active,
.zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1);
  transition: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1);
  transform-origin: top left
}

.zoom-in-left-enter,
.zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(.45)
}