.demo-block {
    //border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: .2s;
    //padding: 24px;
    position: relative;
}

.demo-block:hover {
    //box-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5)
}

.icon-list {
    overflow: hidden;
    list-style: none;
    padding: 0;
    border-left: 1px solid #eaeefb;
    border-top: 1px solid #eaeefb;
    border-radius: 4px;
}

.icon-list li {
    float: left;
    width: 20%;
    text-align: center;
    height: 120px;
    line-height: 120px;
    color: #666;
    font-size: 13px;
    transition: color .15s linear;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.icon-list li span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    color: #99a9bf;
}

.icon-list li i {
    display: block;
    font-size: 32px;
    margin-bottom: 15px;
    color: #606266;
}