<h3 class="mb15">Alert</h3>

<div class="demo-block">
    <a href="javascript:;" class="btn btn-md btn-info">普通提示</a>
    <a href="javascript:;" class="btn btn-md btn-success">成功提示</a>
    <a href="javascript:;" class="btn btn-md btn-warning">警告提示</a>
    <a href="javascript:;" class="btn btn-md btn-danger">错误提示</a>
</div>

<h4 class="mt50 mb20">Attributes</h4>
<table class="table">
    <thead>
    <tr>
        <th>属性</th>
        <th>说明</th>
        <th>类型</th>
        <th>默认值</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>obj</td>
        <td>alert容器</td>
        <td>String</td>
        <td>#alert</td>
    </tr>
    <tr>
        <td>text</td>
        <td>文本，支持html标签</td>
        <td>String</td>
        <td>-</td>
    </tr>
    <tr>
        <td>timeout</td>
        <td>持续时间,单位毫秒</td>
        <td>Number</td>
        <td>3000</td>
    </tr>
    <tr>
        <td>status</td>
        <td>状态：0-error,1-success,2-info,3-warning</td>
        <td>Number</td>
        <td>1</td>
    </tr>
    <tr>
        <td>callback</td>
        <td>回调函数，<code class="highlighter-rouge">无论调用多少次alert,回调函数都将取最后一个</code></td>
        <td>Function</td>
        <td>-</td>
    </tr>
    </tbody>
</table>

<script>
    $('.btn-info').on('click',  function(event) {
        $.alert({
            text:'<i class="alert__icon el-icon-info"></i>This is a info message',
            status:2,
            timeout:1500,
            callback:function(){
                // callback ...
            }
        });
    });

    $('.btn-success').on('click',  function(event) {
        $.alert({
            text:'<i class="alert__icon el-icon-success"></i>This is a success message',
            status:1,
            timeout:1500,
            callback:function(){
                // callback ...
            }
        });
    });

    $('.btn-warning').on('click',  function(event) {
        $.alert({
            text:'<i class="alert__icon el-icon-warning"></i>This is a warning message',
            status:3,
            timeout:1500,
            callback:function(){
                // callback ...
            }
        });
    });

    $('.btn-danger').on('click',  function(event) {
        $.alert({
            text:'<i class="alert__icon el-icon-error"></i>This is a error message',
            status:0,
            timeout:1500,
            callback:function(){
                // callback ...
            }
        });
    });
</script>