<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Hover Data Table</h3>
            </div>
            <div class="box-body">
                <div id="example1" class="table-wrap" data-tableSort="true" data-tableLock="false">
                    <div class="row mb15">
                        <div class="col-sm-12">
                            <div class="table-header">
                                <table class="table table-bordered table-hover table-data">
                                    <colgroup>
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                    </colgroup>
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" data-index="1"><a href="#" class="table-sort">Rendering engine</a></th>
                                            <th class="sorting" data-index="2"><a href="#" class="table-sort">Browser</a></th>
                                            <th class="sorting" data-index="3"><a href="#" class="table-sort">Platform(s)</a></th>
                                            <th class="sorting" data-index="4"><a href="#" class="table-sort">Engine version</a></th>
                                            <th class="sorting" data-index="5"><a href="#" class="table-sort">CSS grade</a></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table-body" style="max-height: 171px;">
                                <table class="table table-bordered table-hover table-data">
                                    <colgroup>
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Firefox 1.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.7</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Firefox 1.5</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Firefox 2.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Firefox 3.0</td>
                                            <td>Win 2k+ / OSX.3+</td>
                                            <td>1.9</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Camino 1.0</td>
                                            <td>OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Camino 1.5</td>
                                            <td>OSX.3+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Netscape 7.2</td>
                                            <td>Win 95+ / Mac OS 8.6-9.2</td>
                                            <td>1.7</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Netscape Browser 8</td>
                                            <td>Win 98SE+</td>
                                            <td>1.7</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Netscape Navigator 9</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td class="sorting_1">Gecko</td>
                                            <td>Mozilla 1.0</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td>1</td>
                                            <td>A</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="table-info">Showing 1 to 10 of 57 entries</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers tr">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled"><a href="#" data-dt-idx="0" tabindex="0">Previous</a></li>
                                    <li class="paginate_button active"><a href="#" data-dt-idx="1" tabindex="0">1</a></li>
                                    <li class="paginate_button "><a href="#" data-dt-idx="2" tabindex="0">2</a></li>
                                    <li class="paginate_button "><a href="#" data-dt-idx="3" tabindex="0">3</a></li>
                                    <li class="paginate_button "><a href="#" data-dt-idx="4" tabindex="0">4</a></li>
                                    <li class="paginate_button "><a href="#" data-dt-idx="5" tabindex="0">5</a></li>
                                    <li class="paginate_button "><a href="#" data-dt-idx="6" tabindex="0">6</a></li>
                                    <li class="paginate_button next"><a href="#" data-dt-idx="7" tabindex="0">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2" class="table-wrap" data-tableLock="false">
                    <div class="row">
                        <div class="col-sm-6">
                            <div><label>Show <select name="example1_length" aria-controls="example1" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                        </div>
                        <div class="col-sm-6">
                            <div class="tr"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label></div>
                        </div>
                    </div>
                    <div class="row mb15">
                        <div class="col-sm-12">
                            <div class="table-header">
                                <table class="table table-bordered table-striped table-data">
                                    <colgroup>
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                    </colgroup>
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" data-index="1"><a href="#" class="table-sort">Rendering engine</a></th>
                                            <th class="sorting" data-index="2"><a href="#" class="table-sort">Browser</a></th>
                                            <th class="sorting" data-index="3"><a href="#" class="table-sort">Platform(s)</a></th>
                                            <th class="sorting" data-index="4"><a href="#" class="table-sort">Engine version</a></th>
                                            <th class="sorting" data-index="5"><a href="#" class="table-sort">CSS grade</a></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table-body" style="max-height: 171px;">
                                <table class="table table-bordered table-striped table-data">
                                    <colgroup>
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                    </colgroup>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Firefox 1.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.7</td>
                                            <td>A</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Firefox 1.5</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Firefox 2.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Firefox 3.0</td>
                                            <td>Win 2k+ / OSX.3+</td>
                                            <td>1.9</td>
                                            <td>A</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Camino 1.0</td>
                                            <td>OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Camino 1.5</td>
                                            <td>OSX.3+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Netscape 7.2</td>
                                            <td>Win 95+ / Mac OS 8.6-9.2</td>
                                            <td>1.7</td>
                                            <td>A</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Netscape Browser 8</td>
                                            <td>Win 98SE+</td>
                                            <td>1.7</td>
                                            <td>A</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Netscape Navigator 9</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="sorting_1">Gecko</td>
                                            <td>Mozilla 1.0</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td>1</td>
                                            <td>A</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="table-info">Showing 1 to 10 of 57 entries</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers tr" id="example1_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li>
                                    <li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li>
                                    <li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#example1').NUI('table');
    $('#example2').NUI('table', {
        tableSort: 'true'
    });
</script>