.multiCheck {
    width: 100%;
    height: 100%;
    position: relative;
}
.multiHeader {
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 3;
    padding: 15px 30px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.multiHeader h4 {
    height: 20px;
    line-height: 20px;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
}
.multiHeader label, .multiHeader a {
    height: 20px;
    line-height: 20px;
    padding: 0px;
    font-weight: normal;
    float: right;
    margin-bottom: 0;
    line-height: 1.42857;
    margin-left: 15px;
}
.multiHeader a {
    text-decoration: none;
    color: #eb6100;
}
.multiBody {
    width: 100%;
    height: 100%;
    top: 0;
    padding: 53px 0 63px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.multiFooter {
    text-align: center;
    background-color: #edf0f5;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    border-top: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.multiBox {
    height: 100%;
    overflow-y: auto;
    padding: 15px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.multiBox .letterBox {
    padding: 5px 5px 5px 0;
    margin-bottom: -15px;
}
.multiBox .letterBox span {
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
.multiBox .letterBox span.active {
    background: #eb6100;
    color: #fff;
}
.multiBox .checkbox {
    position: relative;
    display: block;
    margin-top: 25px;
}
.multiBox .checkbox:first-child {
    margin-top: 0;
}
.multiBox .lv-1 {
    border-bottom: 1px solid #efefef;
    background-color: transparent;
    display: block;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 0px 5px 0;
}
.multiBox .lv-2 {
    width: auto;
    margin-right: 15px;
    min-height: 20px;
    display: inline-block;
}