.owl-prev,
.owl-next {
    background-color: white;
    width: 29px;
    height: 154px;
    line-height: 153px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    text-align: center;
    color: gray;
}

.owl-prev {
  left: 0;
}

.owl-next {
    right: 0;
}

// .owl-theme .owl-nav {
//     margin-top: 10px;
// }

// .owl-theme .owl-nav {
//     text-align: center;
//     -webkit-tap-highlight-color: transparent;
// }

// .owl-theme .owl-nav [class*=owl-] {
//     color: #FFF;
//     font-size: 14px;
//     margin: 5px;
//     padding: 4px 7px;
//     background: #D6D6D6;
//     display: inline-block;
//     cursor: pointer;
//     border-radius: 3px
// }

// .owl-theme .owl-nav [class*=owl-]:hover {
//     background: #869791;
//     color: #FFF;
//     text-decoration: none
// }

// .owl-theme .panel {
//     margin-bottom: 0;
// }

.owl-item .panel {
    margin-bottom: 0;
    border-radius: 0;
}

.owl-item .item {
    border: 3px solid #e7eaec;
    border-left: none;
    border-top: 3px solid #e7eaec;
    height: 154px;
    padding: 20px;

    &.active {
        border-top: 3px solid #3c8dbc;
        border-bottom: none;
    }
}
