.tab-2 {
		background-color: #fff;
		border-radius:3px;
		
		a {
				display: inline-block;
				height: 45px;
				line-height: 45px;
				font-size: 14px;
				text-align: center;
				padding: 0 25px;
				position: relative;
				color: nth($font-color,2);
		}
		a:hover {
				text-decoration: none;
				color: skyblue;
		}
		a.active {
				background-color: #fff;
				color: skyblue;
				border-top-left-radius:3px;
				border-top-right-radius:3px;
		}
}