$theme-color: #dd4b39 #3674a9 #ecf0f6 #92b6cc;
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

body {
    font-family: "Microsoft YaHei", Arial, "Hiragino Sans GB", "Open Sans", "Helvetica Neue", "WenQuanYi Micro Hei", sans-serif;
    line-height: 1.42857;
    font-size: 12px;
    color: #333333;
    background-color: #fff;
    margin: 0;
}

a {
    color: #108ee9;
    text-decoration: none;
}

label,
input,
div,
li,
a {
    @include prefixer(box-sizing, border-box, webkit ms spec);
}

body,
html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
    small {
        color: #777;
    }
}