ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #108ee9;
  text-decoration: none;
}

label, input, div, ul, li, a, textarea {
  @include prefixer(box-sizing, border-box, webkit ms spec);
}

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  small {
    color: #777;
  }
}