<a href="#/public/index" title="nfeng-ui-jquery" class="logo">
    <span class="logo-mini">NF</span>
    <span class="logo-lg">nfeng-ui-jquery</span>
</a>
<a href="javascript:;" class="sidebar-toggle menu-close"></a>
<ul class="menu-horizontal menu-default pull-right mr50">
    <li><a href="#/public/index" class="menu-item">首页</a></li>
    <li><a href="#/ui/button" class="menu-item">组件</a></li>
</ul>
<script>
    $(function () {
        $('body').on('click', '.logo', function () {
            $('.menu-title, .menu-item').removeClass('active');
        });
    });
</script>