<ul class="menu-vertical menu-dark">
    <li>
        <div class="menu-title menu-open">
            <i class="fa fa-laptop"></i>
            <span>General</span>
        </div>
        <ul class="menu-sub">
            <li>
                <a href="#/general/button" class="menu-item">
                    <i class="fa fa-circle-o"></i>
                    <span>Buttons</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <div class="menu-title menu-open">
            <i class="fa fa-commenting-o"></i>
            <span>Data Display</span>
        </div>
        <ul class="menu-sub">
            <li>
                <a href="#/datadisplay/tooltip" class="menu-item">
                    <i class="fa fa-circle-o"></i>
                    <span>Tooltip</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <div class="menu-title menu-open">
            <i class="fa fa-envelope-o"></i>
            <span>Feedback</span>
        </div>
        <ul class="menu-sub">
            <li>
                <a href="#/feedback/message" class="menu-item">
                    <i class="fa fa-circle-o"></i>
                    <span>Message</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <div class="menu-title menu-open">
            <i class="fa fa-files-o"></i>
            <span>Navigation</span>
        </div>
        <ul class="menu-sub">
            <li>
                <a href="#/navigation/navmenu" class="menu-item">
                    <i class="fa fa-circle-o"></i>
                    <span>NavMenu</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <div class="menu-title menu-open">
            <i class="fa fa-edit"></i>
            <span>Forms</span>
        </div>
        <ul class="menu-sub">
            <li>
                <a href="#/forms/datapick" class="menu-item">
                    <i class="fa fa-circle-o"></i>
                    <span>DatePicker</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <div class="menu-title menu-open">
            <i class="fa fa-table"></i>
            <span>Tables</span>
        </div>
        <ul class="menu-sub">
            <li>
                <a href="#/table/simple" class="menu-item">
                    <i class="fa fa-circle-o"></i>
                    <span>Simple tables</span>
                </a>
            </li>
            <li>
                <a href="#/table/data" class="menu-item">
                    <i class="fa fa-circle-o"></i>
                    <span>Data tables</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<script>
    $(function() {
        $('body').on('click', '.menu-close',function () {
           $(this).removeClass('menu-close').addClass('menu-spread');
           $('body').addClass('sidebar-collapse');
        });
        $('body').on('click', '.menu-spread', function () {
            $(this).removeClass('menu-spread').addClass('menu-close');
            $('body').removeClass('sidebar-collapse');
        });
        $('.menu-vertical').NUI('menu');
    });
</script>