<ul class="menu-vertical menu-default">
    <li>
        <div class="menu-item menu-triangle"><i class="fa fa-laptop"></i><span>Basic</span></div>
        <ul class="menu-popup hide">
            <li><a href="#/basic/icon" class="menu-item"><i class="fa fa-circle-o"></i><span>Icon</span></a></li>
            <li><a href="#/basic/button" class="menu-item"><i class="fa fa-circle-o"></i><span>Buttons</span></a></li>
        </ul>
    </li>
    <li>
        <div class="menu-item menu-triangle"><i class="fa fa-edit"></i><span>Forms</span></div>
        <ul class="menu-popup hide">
            <li><a href="#/forms/input" class="menu-item"><i class="fa fa-circle-o"></i><span>Input</span></a></li>
            <li><a href="#/forms/select" class="menu-item"><i class="fa fa-circle-o"></i><span>Select</span></a></li>
            <li><a href="#/forms/datapick" class="menu-item"><i class="fa fa-circle-o"></i><span>DatePicker</span></a></li>
            <li><a href="#/forms/form" class="menu-item"><i class="fa fa-circle-o"></i><span>From</span></a></li>
        </ul>
    </li>
    <li>
        <div class="menu-item menu-triangle"><i class="fa fa-edit"></i><span>Table</span></div>
        <ul class="menu-popup hide">
            <li><a href="#/table/simple" class="menu-item"><i class="fa fa-table"></i><span>Simple tables</span></a></li>
            <li><a href="#/table/data" class="menu-item"><i class="fa fa-table"></i><span>Data tables</span></a></li>
        </ul>
    </li>
    <li>
        <div class="menu-item menu-triangle"><i class="fa fa-files-o"></i><span>Notice</span></div>
        <ul class="menu-popup hide">
            <li><a href="#/notice/alert" class="menu-item"><i class="fa fa-circle-o"></i><span>Alert</span></a></li>
            <li><a href="#/notice/dialog" class="menu-item"><i class="fa fa-circle-o"></i><span>Dialog</span></a></li>
            <li><a href="#/notice/loading" class="menu-item"><i class="fa fa-circle-o"></i><span>Loading</span></a></li>
            <li><a href="#/notice/message" class="menu-item"><i class="fa fa-circle-o"></i><span>Message</span></a></li>
            <li><a href="#/notice/popover" class="menu-item"><i class="fa fa-circle-o"></i><span>Popover</span></a></li>
            <li><a href="#/notice/tooltip" class="menu-item"><i class="fa fa-circle-o"></i><span>Tooltip</span></a></li>
            <li><a href="#/notice/layer" class="menu-item"><i class="fa fa-circle-o"></i><span>Layer</span></a></li>
        </ul>
    </li>
    <li>
        <div class="menu-item menu-triangle"><i class="fa fa-edit"></i><span>Navigation</span></div>
        <ul class="menu-popup hide">
            <li><a href="#/navigation/navmenu" class="menu-item"><i class="fa fa-circle-o"></i><span>NavMenu</span></a></li>
            <li><a href="#/navigation/scrollbar" class="menu-item"><i class="fa fa-circle-o"></i><span>Scrollbar</span></a></li>
        </ul>
    </li>
</ul>
<script>
    $(function() {
        $('body').on('click', '.menu-close',function () {
           $(this).removeClass('menu-close').addClass('menu-spread');
           $('body').addClass('sidebar-collapse');
        });
        $('body').on('click', '.menu-spread', function () {
            $(this).removeClass('menu-spread').addClass('menu-close');
            $('body').removeClass('sidebar-collapse');
        });
        $('.menu-vertical').NUI('menu');
    });
</script>