<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">水平菜单</h3>
            </div>
            <div class="box-body">
                <ul class="menu-demo-horizontal menu-horizontal menu-default">
                    <li>
                        <div class="menu-item">
                            <span>Navigation One</span>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title">
                            <span>Navigation One</span>
                        </div>
                        <ul class="menu-sub hide">
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Option 1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Option 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Option 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="menu-item">
                            <span>Navigation Three</span>
                        </div>
                    </li>
                </ul>
                <div class="pt15"></div>
                <ul class="menu-demo-horizontal menu-horizontal menu-skyblue">
                    <li>
                        <div class="menu-item">
                            <span>Navigation One</span>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title">
                            <span>Navigation One</span>
                        </div>
                        <ul class="menu-sub hide">
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Option 1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Option 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Option 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="menu-item">
                            <span>Navigation Three</span>
                        </div>
                    </li>
                </ul>
                <div class="pt15"></div>
                <ul class="menu-demo-horizontal menu-horizontal menu-dark">
                    <li>
                        <div class="menu-item">
                            <span>Navigation One</span>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title">
                            <span>Navigation One</span>
                        </div>
                        <ul class="menu-sub hide">
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Option 1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Option 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Option 3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="menu-item">
                            <span>Navigation Three</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">垂直菜单</h3>
                <div class="btn-group ml15">
                    <button type="button" class="btn btn-default btn-sm menu-open active">展开</button>
                    <button type="button" class="btn btn-default btn-sm menu-close">收起</button>
                </div>
            </div>
            <div class="box-body" style="">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="menu-demo-vertical menu-vertical menu-default">
                            <li>
                                <div class="menu-title">
                                    <i class="fa fa-files-o"></i>
                                    <span>Navigation One</span>
                                </div>
                                <ul class="menu-sub" style="display: none;">
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Option 1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Option 2</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Option 3</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="menu-item menu-open">
                                    <i class="fa fa-edit"></i>
                                    <span>Navigation Two</span>
                                </div>
                            </li>
                            <li>
                                <div class="menu-item menu-open">
                                    <i class="fa fa-table"></i>
                                    <span>Navigation Three</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="menu-demo-vertical menu-vertical menu-skyblue">
                            <li>
                                <div class="menu-title">
                                    <i class="fa fa-files-o"></i>
                                    <span>Navigation One</span>
                                </div>
                                <ul class="menu-sub" style="display: none;">
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Option 1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Option 2</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Option 3</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="menu-item menu-open">
                                    <i class="fa fa-edit"></i>
                                    <span>Navigation Two</span>
                                </div>
                            </li>
                            <li>
                                <div class="menu-item menu-open">
                                    <i class="fa fa-table"></i>
                                    <span>Navigation Three</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="menu-demo-vertical menu-vertical menu-dark">
                            <li>
                                <div class="menu-title">
                                    <i class="fa fa-files-o"></i>
                                    <span>Navigation One</span>
                                </div>
                                <ul class="menu-sub" style="display: none;">
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Option 1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Option 2</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Option 3</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="menu-item menu-open">
                                    <i class="fa fa-edit"></i>
                                    <span>Navigation Two</span>
                                </div>
                            </li>
                            <li>
                                <div class="menu-item menu-open">
                                    <i class="fa fa-table"></i>
                                    <span>Navigation Three</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('.menu-demo-horizontal').NUI('menu', {
            mode: 'horizontal'
        });
        $('.menu-demo-vertical').NUI('menu');
    });
</script>
