<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">顶栏</h3>
            </div>
            <div class="box-body">
                <ul class="menu-demo1 menu-horizontal menu-default">
                    <li>
                        <div class="menu-title">
                            <span>处理中心</span>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title">
                            <span>我的工作台</span>
                            <span class="pull-right ml10">
                                <i class="fa fa-angle-up"></i>
                            </span>
                        </div>
                        <ul class="menu-sub">
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>选项1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>选项2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>选项3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="menu-title">
                            <span></span>
                            <a href="#/layout/menu">订单管理</a>
                        </div>
                    </li>
                </ul>
                <div class="pt15"></div>
                <ul class="menu-demo1 menu-horizontal menu-skyblue">
                    <li>
                        <div class="menu-title">
                            <span>处理中心</span>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title">
                            <span>我的工作台</span>
                            <span class="pull-right ml10">
                                <i class="fa fa-angle-up"></i>
                            </span>
                        </div>
                        <ul class="menu-sub">
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>选项1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>选项2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>选项3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="menu-title">
                            <span></span>
                            <a href="javascript:;">订单管理</a>
                        </div>
                    </li>
                </ul>
                <div class="pt15"></div>
                <ul class="menu-demo1 menu-horizontal menu-dark">
                    <li>
                        <div class="menu-title">
                            <span>处理中心</span>
                        </div>
                    </li>
                    <li>
                        <div class="menu-title">
                            <span>我的工作台</span>
                            <span class="pull-right ml10">
                                <i class="fa fa-angle-up"></i>
                            </span>
                        </div>
                        <ul class="menu-sub">
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>选项1</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>选项2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="menu-item">
                                    <i class="fa fa-circle-o"></i>
                                    <span>选项3</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="menu-title">
                            <span></span>
                            <a href="javascript:;">订单管理</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">侧栏</h3>
            </div>
            <div class="box-body" style="">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="menu-demo menu-vertical menu-default">
                            <li>
                                <div class="menu-title">
                                    <i class="fa fa-files-o"></i>
                                    <span>导航一</span>
                                    <span class="pull-right">
                                <i class="fa fa-angle-up"></i>
                            </span>
                                </div>
                                <ul class="menu-sub">
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>选项1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>选项1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>选项3</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="menu-title menu-open">
                                    <i class="fa fa-edit"></i>
                                    <span>导航二</span>
                                </div>
                            </li>
                            <li>
                                <div class="menu-title menu-open">
                                    <i class="fa fa-table"></i>
                                    <span>导航二</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="menu-demo menu-vertical menu-skyblue">
                            <li>
                                <div class="menu-title">
                                    <i class="fa fa-files-o"></i>
                                    <span>导航一</span>
                                    <span class="pull-right">
                                <i class="fa fa-angle-up"></i>
                            </span>
                                </div>
                                <ul class="menu-sub">
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>选项1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>选项2</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="menu-item">
                                            <i class="fa fa-circle-o"></i>
                                            <span>选项3</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="menu-title menu-open">
                                    <i class="fa fa-edit"></i>
                                    <span>导航二</span>
                                </div>
                            </li>
                            <li>
                                <div class="menu-title menu-open">
                                    <i class="fa fa-table"></i>
                                    <span>导航二</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('.menu-demo1').NUI('menu', {
            trigger: 'hover'
        });
        $('.menu-demo').NUI('menu');
    });
</script>
