<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Hover Data Table</h3>
            </div>
            <div class="box-body">
                <div id="example1" class="table-wrap" data-tableSort="true" data-tableLock="false">
                    <div class="row mb15">
                        <div class="col-sm-12">
                            <div class="table-header">
                                <table class="table table-bordered table-hover table-data">
                                    <colgroup>
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                    </colgroup>
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" data-index="1"><a href="javascript:;"
                                                                                  class="table-sort">Rendering
                                            engine</a></th>
                                        <th class="sorting" data-index="2"><a href="javascript:;" class="table-sort">Browser</a>
                                        </th>
                                        <th class="sorting" data-index="3"><a href="javascript:;" class="table-sort">Platform(s)</a>
                                        </th>
                                        <th class="sorting" data-index="4"><a href="javascript:;" class="table-sort">Engine
                                            version</a></th>
                                        <th class="sorting" data-index="5"><a href="javascript:;" class="table-sort">CSS
                                            grade</a></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table-body" style="max-height: 171px;">
                                <table class="table table-bordered table-hover table-data">
                                    <colgroup>
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Firefox 1.5</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Firefox 3.0</td>
                                        <td>Win 2k+ / OSX.3+</td>
                                        <td>1.9</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Camino 1.0</td>
                                        <td>OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Camino 1.5</td>
                                        <td>OSX.3+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Netscape 7.2</td>
                                        <td>Win 95+ / Mac OS 8.6-9.2</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Netscape Browser 8</td>
                                        <td>Win 98SE+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Netscape Navigator 9</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td class="sorting_1">Gecko</td>
                                        <td>Mozilla 1.0</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>1</td>
                                        <td>A</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="table-info">Showing 1 to 10 of 57 entries</div>
                        </div>
                        <div class="col-sm-7">
                            <div style="text-align: right;">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled"><a href="javascript:;" data-dt-idx="0"
                                                                                     tabindex="0">Previous</a></li>
                                    <li class="paginate_button active"><a href="javascript:;" data-dt-idx="1"
                                                                          tabindex="0">1</a></li>
                                    <li class="paginate_button "><a href="javascript:;" data-dt-idx="2"
                                                                    tabindex="0">2</a></li>
                                    <li class="paginate_button "><a href="javascript:;" data-dt-idx="3"
                                                                    tabindex="0">3</a></li>
                                    <li class="paginate_button "><a href="javascript:;" data-dt-idx="4"
                                                                    tabindex="0">4</a></li>
                                    <li class="paginate_button "><a href="javascript:;" data-dt-idx="5"
                                                                    tabindex="0">5</a></li>
                                    <li class="paginate_button "><a href="javascript:;" data-dt-idx="6"
                                                                    tabindex="0">6</a></li>
                                    <li class="paginate_button next"><a href="javascript:;" data-dt-idx="7"
                                                                        tabindex="0">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <div class="box-body">
                <div class="row mb15">
                    <div class="col-sm-1">
                        <div style="line-height:40px;text-align:right;">Show</div>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control input-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div style="line-height:40px;">entries</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" placeholder="请输入内容" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mb15">
                    <div class="col-sm-12">
                        <div id="example2" class="table-wrap" data-tableLock="false">
                            <div class="table-header">
                                <table class="table table-bordered table-striped table-data">
                                    <colgroup>
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                    </colgroup>
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" data-index="1"><a href="javascript:;"
                                                                                  class="table-sort">Rendering
                                            engine</a></th>
                                        <th class="sorting" data-index="2"><a href="javascript:;" class="table-sort">Browser</a>
                                        </th>
                                        <th class="sorting" data-index="3"><a href="javascript:;" class="table-sort">Platform(s)</a>
                                        </th>
                                        <th class="sorting" data-index="4"><a href="javascript:;" class="table-sort">Engine
                                            version</a></th>
                                        <th class="sorting" data-index="5"><a href="javascript:;" class="table-sort">CSS
                                            grade</a></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table-body" style="max-height: 171px;">
                                <table class="table table-bordered table-striped table-data">
                                    <colgroup>
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                        <col style="width: 211px;">
                                    </colgroup>
                                    <tbody>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td><span class="table-edit-text" data-url=""
                                                  data-params="{}">Win 98+ / OSX.2+</span></td>
                                        <td>1.7</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Firefox 1.5</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Firefox 3.0</td>
                                        <td>Win 2k+ / OSX.3+</td>
                                        <td>1.9</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Camino 1.0</td>
                                        <td>OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Camino 1.5</td>
                                        <td>OSX.3+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Netscape 7.2</td>
                                        <td>Win 95+ / Mac OS 8.6-9.2</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Netscape Browser 8</td>
                                        <td>Win 98SE+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Netscape Navigator 9</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">Gecko</td>
                                        <td>Mozilla 1.0</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>1</td>
                                        <td>A</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="table-info">Showing 1 to 10 of 57 entries</div>
                    </div>
                    <div class="col-sm-7">
                        <div style="text-align: right;">
                            <ul class="pagination">
                                <li class="paginate_button previous disabled" id="example1_previous"><a
                                        href="javascript:;" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                                </li>
                                <li class="paginate_button active"><a href="javascript:;" aria-controls="example1"
                                                                      data-dt-idx="1" tabindex="0">1</a></li>
                                <li class="paginate_button "><a href="javascript:;" aria-controls="example1"
                                                                data-dt-idx="2" tabindex="0">2</a></li>
                                <li class="paginate_button "><a href="javascript:;" aria-controls="example1"
                                                                data-dt-idx="3" tabindex="0">3</a></li>
                                <li class="paginate_button "><a href="javascript:;" aria-controls="example1"
                                                                data-dt-idx="4" tabindex="0">4</a></li>
                                <li class="paginate_button "><a href="javascript:;" aria-controls="example1"
                                                                data-dt-idx="5" tabindex="0">5</a></li>
                                <li class="paginate_button "><a href="javascript:;" aria-controls="example1"
                                                                data-dt-idx="6" tabindex="0">6</a></li>
                                <li class="paginate_button next" id="example1_next"><a href="javascript:;"
                                                                                       aria-controls="example1"
                                                                                       data-dt-idx="7"
                                                                                       tabindex="0">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Attributes</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        <th>参数</th>
                        <th>说明</th>
                        <th>类型</th>
                        <th>可选值</th>
                        <th>默认值</th>
                    </tr>
                    <tr>
                        <td>maxHeight</td>
                        <td>最大高度</td>
                        <td>string</td>
                        <td>-</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>tableLock</td>
                        <td>表格锁定</td>
                        <td>string</td>
                        <td>-</td>
                        <td>true</td>
                    </tr>
                    <tr class="hide">
                        <td>tableEdit</td>
                        <td>表格编辑</td>
                        <td>string</td>
                        <td>-</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>tableSort</td>
                        <td>表格排序</td>
                        <td>string</td>
                        <td>-</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>tableAjax</td>
                        <td>表格异步</td>
                        <td>string</td>
                        <td>-</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>tableAjaxUrl</td>
                        <td>表格异步地址</td>
                        <td>string</td>
                        <td>-</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>tableCollapsed</td>
                        <td>表格展开</td>
                        <td>string</td>
                        <td>-</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>childrenClass</td>
                        <td>子行类名</td>
                        <td>string</td>
                        <td>-</td>
                        <td>.children-class</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Events</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        <th>事件名称</th>
                        <th>说明</th>
                        <th>回调参数</th>
                    </tr>
                    <tr>
                        <td>tableAjaxSuccess</td>
                        <td>异步成功</td>
                        <td>_this</td>
                    </tr>
                    <tr>
                        <td>tableCollBeforeSend</td>
                        <td>展开之前</td>
                        <td>_this, trIndex, event</td>
                    </tr>
                    <tr>
                        <td>tableCollSuccess</td>
                        <td>展开成功</td>
                        <td>_this, trIndex, event</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#example1').NUI('table');
        $('#example2').NUI('table', {
            tableLock: 'true',
            // tableEdit: 'true',
            tableSort: 'true',
        });
        $('select').NUI('select');
    });
</script>